extends root

block content
    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true") Dashboard
        li.nav-item
            a.nav-link(id="students-tab" data-toggle="tab" href="#students" role="tab" aria-controls="students" aria-selected="false") Students
        li.nav-item
            a.nav-link(id="staff-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="staff" aria-selected="false") Staff
        li.nav-item
            a.nav-link(id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false") Settings
        
    .tab-content#cohortTabContent
        //- Dashbaord / Students Cards Container
        .tab-pane.fade.show.active#dashboard(role="tabpanel" aria-labelledby="dashboard-tab")
            .d-flex.flex-row.justify-content-between.mx-2
                h3 Students

            .d-flex.flex-row.flex-wrap.student-cards
                if students
                    each student in students
                        .card.student-card(class=`${student.enrolledStatus ? '' : 'student-card-inactive'}` data-student-id=student.studentId, data-stoplight-status=student.stoplightStatus, data-student-name=student.firstName+student.lastName, data-last-touchpoint=student.touchpointCreated)
                            .card-header.d-flex.flex-row.linkstyle(onclick=`navigateTo("/students/${student.github}")`)
                                div
                                    img.student-photo(alt="/public/images/noPhoto.png" src=`${student.photoUrl ? student.photoUrl : '/public/images/noPhoto.png'}`) 
                                .w-100
                                    .d-flex.flex-row.justify-content-between.stoplight-status-div
                                        h4.mx-2.student-name.text-truncate #{student.firstName} #{student.lastName}
                                        if student.stoplightStatus === 'green'
                                            span.badge.badge-pill.badge-success
                                                i.material-icons.pt-1.stoplight-badge  done
                                        else if student.stoplightStatus === 'yellow'
                                            span.badge.badge-pill.badge-warning
                                                i.material-icons.pt-1.stoplight-badge  help_outline
                                        else if student.stoplightStatus ==='red'
                                            span.badge.badge-pill.badge-danger
                                                i.material-icons.pt-1 warning
                                    .d-flex.flex-row
                                        img.ml-2(src='./../public/images/GitHub-Mark.png' style="height:25px")
                                        a.ml-1(href='https://github.com/'+student.github) #{student.github}
                            .card-body.d-flex.flex-row.student-info
                                .d-flex.flex-column.student-touchpoint
                                    .student-touchpoint-title Last Touchpoint
                                    if student.comment
                                        .student-touchpoint-comment
                                            small #{student.comment}
                                    if student.tags
                                        each tag in student.tags
                                            if tag.status === 'green'
                                                span.badge.badge-success.mr-auto.my-1 #{tag.text}
                                            else if tag.status === 'yellow'
                                                span.badge.badge-warning.mr-auto.my-1 #{tag.text}
                                            else if tag.status ==='red'
                                                span.badge.badge-danger.mr-auto.my-1 #{tag.text}
                                    if student.timeSinceTouchpoint
                                        .blockquote-footer.touchpoint-date #{student.timeSinceTouchpoint} ago by #{student.userFirstName} #{student.userLastName}
                                .d-flex.flex-column.student-commits
                                    .student-touchpoint-title Latest Commits
                                    if student.commits
                                        .graph-container
                                            each headerDay in ['','','M','','W','','F','']
                                                .graph-item.graph-item-header #{headerDay}
                                            each day, index in student.commits
                                                if index%7 === 0
                                                    .graph-item.graph-item-header ##{Math.floor(index/7)+1}
                                                
                                                if !day.commits.length
                                                    .graph-item.no-commits
                                                else if day.commits.length < 1
                                                    .graph-item.sm-commits(data-toggle="tooltip" data-placement="top" title=`Commits: ${day.commits.length} \r\nRepos: ${day.repos.length} \r\nLines: ${day.total}`)
                                                else if day.commits.length < 2
                                                    .graph-item.md-commits(data-toggle="tooltip" data-placement="top" title=`Commits: ${day.commits.length} \r\nRepos: ${day.repos.length} \r\nLines: ${day.total}`)
                                                else if day.commits.length < 3
                                                    .graph-item.lg-commits(data-toggle="tooltip" data-placement="top" title=`Commits: ${day.commits.length} \r\nRepos: ${day.repos.length} \r\nLines: ${day.total}`)
                                                else
                                                    .graph-item.xl-commits(data-toggle="tooltip" data-placement="top" title=`Commits: ${day.commits.length} \r\nRepos: ${day.repos.length} \r\nLines: ${day.total}`)
                            .card-footer.d-flex.flex-row.student-card-footer.p-0
                                .d-flex.justify-content-center.py-2(style="border-right:1px solid rgba(0,0,0,.125);")
                                    a(href='/students/'+student.github) Details
                                .d-flex.justify-content-center.py-2.add-touchpoint-button
                                    a(href) Add Touchpoint
        //- List / Students List
        .tab-pane.fade#students(role="tabpanel" aria-labelledby="students-tab")
            .d-flex.flex-row.justify-content-between.mx-2
                    h3 Instructors
                    for instructor in instructors
                        if instructor.id === user.id && (instructor.role === 'admin' || instructor.role ==='instructor')
                            button.btn.btn-primary.add-student-button(data-cohort-id=info.id) Add Student
            .container.mt-4
                .list-group.student-list
                    .list-group-item.active.disabled
                        .row
                            .col-sm-1
                                h5 Status
                            .col-sm-3
                                h5 Student
                            .col-sm-2
                                h5 Github
                            .col-sm-2
                                h5 Last Commit
                            .col-sm-2
                            .col-sm-2
                            
                    each student in students
                        .list-group-item.list-group-item-action(class=`${student.enrolledStatus ? '' : 'list-group-item-secondary'}` onclick=`navigateTo("/students/${student.github}")`)
                            .row
                                .col-sm-1.my-auto
                                    if student.stoplightStatus === 'green'
                                        span.badge.badge-pill.badge-success
                                            i.material-icons.pt-1.stoplight-badge done
                                    else if student.stoplightStatus === 'yellow'
                                        span.badge.badge-pill.badge-warning
                                            i.material-icons.pt-1.stoplight-badge help_outline
                                    else if student.stoplightStatus ==='red'
                                        span.badge.badge-pill.badge-danger
                                            i.material-icons.pt-1 warning
                                .col-sm-3.d-flex.flex-row.align-items-center.student-info
                                    img.mr-2(alt="/public/images/noPhoto.png" src=`${student.photoUrl ? student.photoUrl : '/public/images/noPhoto.png'}` style="height:50px") 
                                    h6 #{student.firstName} #{student.lastName}
                                .col-sm-2.my-auto.student-github
                                    a.d-flex.flex-row.align-items-center(href="https://github.com/"+student.github)
                                        img(src="./public/images/GitHub-Mark.png" style="height:30px")
                                        div #{student.github}
                                .col-sm-2.my-auto.mx-auto #{student.lastCommit} #{student.lastCommit ? 'ago' : ''}
                                .col-sm-2.my-auto
                                .col-sm-offset.d-flex.flex-row-reverse.my-auto.mx-3
                                    button.btn.btn-primary.edit-student-button(type='button' data-student-id=student.studentId) Edit...

        //- Instructors Container
        .tab-pane.fade#staff(role="tabpanel" aria-labelledby="staff-tab")
            .d-flex.flex-row.justify-content-between.mx-2
                h3 Instructors
                for instructor in instructors
                    if instructor.id === user.id && (instructor.role === 'admin' || instructor.role ==='instructor')
                        button.btn.btn-primary#addInstructorButton(data-cohort-slug=info.slug) Add Instructor
            .d-flex.flex-row.flex-wrap.mb-4
                each instructor in instructors
                    .card.instructor-card.linkstyle(onclick=`navigateTo("/instructors/${instructor.github}")`)
                        .card-header.d-flex.flex-row
                                div
                                    img.instructor-photo(alt="/public/images/noPhoto.png" src=`${instructor.photoUrl ? instructor.photoUrl : '/public/images/noPhoto.png'}`) 
                                .w-100
                                    .d-flex.flex-row.justify-content-between
                                        h4.mx-2 #{instructor.firstName} #{instructor.lastName}
                                    .d-flex.flex-row
                                        img.ml-2(src='./../public/images/GitHub-Mark.png' style="height:25px")
                                        a.ml-1(href='https://github.com/'+instructor.github) #{instructor.github}
                                        if instructor.role === "admin"
                                            span.badge.badge-primary.ml-auto 
                                                .pt-1 #{instructor.role.toUpperCase()}
                                        else if instructor.role === "instructor"
                                            span.badge.badge-info.ml-auto 
                                                .pt-1 #{instructor.role.toUpperCase()}
                                        else
                                            span.badge.badge-secondary.ml-auto 
                                                .pt-1 #{instructor.role.toUpperCase()}
        .tab-pane.fade#info(role="tabpanel" aria-labelledby="info-tab")
            .d-flex.flex-row.justify-content-between.mx-2.mb-2
                    h2 #{info.name}
                    for instructor in instructors
                        if instructor.id === user.id && (instructor.role === 'admin' || instructor.role ==='instructor')
                            button.btn.btn-danger#deleteCohortButton Delete Cohort

       
                    
    //- //- Info Vomit
    //- h2 Info
    //- ul
    //- each key in Object.keys(info)
    //-     li #{key} - #{info[key]}
    
    //- h2 Instructors
    //- table
    //-     each instructor in instructors
    //-         tr
    //-             td
    //-                 ul
    //-                 each key in Object.keys(instructor)
    //-                     li #{key} - #{instructor[key]}
    //- h2 Students
    //- table
    //-     if students
    //-         each student in students
    //-             tr
    //-                 td
    //-                     ul
    //-                     each key in Object.keys(student)
    //-                         if key == "commits"
    //-                                 for commit,index in student.commits
    //-                                     if index%7 === 0
    //-                                         tr
    //-                                     td(style="border:1px solid black") 
    //-                                         if commit.total
    //-                                             div #{commit.commits.length}
    //-                                         else
    //-                                             div -

                            else
                                li #{key} - #{student[key]}
    include modals/addInstructorToCohortModal.pug 
    include modals/addStudentModal.pug
    include modals/editStudentModal.pug
    include modals/deleteCohortModal.pug
    include modals/addTouchpointModal.pug
    script(src="/public/scripts/cohort.js")
    link(rel="stylesheet" href="/public/css/githubGraph.css")
    
    