extends root

block content
    .d-flex.flex-row.justify-content-between.mx-2.mb-2
        h2 #{info.name}
        for instructor in instructors
            if instructor.id === user.id && (instructor.role === 'admin' || instructor.role ==='instructor')
                button.btn.btn-danger#deleteCohortButton Delete Cohort

    //- Instructors Container
    .d-flex.flex-row.justify-content-between.mx-2
        h3 Instructors
        for instructor in instructors
            if instructor.id === user.id && (instructor.role === 'admin' || instructor.role ==='instructor')
                button.btn.btn-primary#addInstructorButton Add Instructor
    .d-flex.flex-row.flex-wrap.mb-4
        each instructor in instructors
            .card.instructor-card.linkstyle(onclick=`navigateTo("/instructors/${instructor.github}")`)
                .card-header.d-flex.flex-row
                        div
                            img.instructor-photo(alt="/public/images/noPhoto.png" src=`${instructor.photoUrl ? instructor.photoUrl : '/public/images/noPhoto.png'}`) 
                        .w-100
                            .d-flex.flex-row.justify-content-between
                                h4.mx-2 #{instructor.firstName} #{instructor.lastName}
                            .d-flex.flex-row
                                img.ml-2(src='./../public/images/GitHub-Mark.png' style="height:25px")
                                a.ml-1(href='https://github.com/'+instructor.github) #{instructor.github}
                                if instructor.role === "admin"
                                    span.badge.badge-primary.ml-auto 
                                        .pt-1 #{instructor.role.toUpperCase()}
                                else if instructor.role === "instructor"
                                    span.badge.badge-info.ml-auto 
                                        .pt-1 #{instructor.role.toUpperCase()}
                                else
                                    span.badge.badge-secondary.ml-auto 
                                        .pt-1 #{instructor.role.toUpperCase()}
    //- Students Container
    .d-flex.flex-row.justify-content-between.mx-2
        h3 Students
        for instructor in instructors
            if instructor.id === user.id && (instructor.role === 'admin' || instructor.role ==='instructor')
                button.btn.btn-primary.add-student-button Add Student
    .d-flex.flex-row.flex-wrap
        if students
            each student in students
                .card.student-card(data-student-id=student.studentId, data-stoplight-status=student.stoplightStatus, data-student-name=student.firstName+student.lastName, data-last-touchpoint=student.touchpointCreated)
                    .card-header.d-flex.flex-row.linkstyle(onclick=`navigateTo("/students/${student.github}")`)
                        div
                            img.student-photo(alt="/public/images/noPhoto.png" src=`${student.photoUrl ? student.photoUrl : '/public/images/noPhoto.png'}`) 
                        .w-100
                            .d-flex.flex-row.justify-content-between
                                h4.mx-2 #{student.firstName} #{student.lastName}
                                if student.stoplightStatus === 'green'
                                    span.badge.badge-success
                                        i.material-icons.pt-1 done
                                else if student.stoplightStatus === 'yellow'
                                    span.badge.badge-warning
                                        i.material-icons.pt-1 help_outline
                                else if student.stoplightStatus ==='red'
                                    span.badge.badge-danger
                                        i.material-icons.pt-1 warning
                            .d-flex.flex-row
                                img.ml-2(src='./../public/images/GitHub-Mark.png' style="height:25px")
                                a.ml-1(href='https://github.com/'+student.github) #{student.github}
                    .card-body.d-flex.flex-row.student-info
                        .d-flex.flex-column.student-touchpoint
                            .student-touchpoint-title Last Touchpoint
                            if student.comment
                                .student-touchpoint-comment
                                    small #{student.comment}
                            if student.tags
                                each tag in student.tags
                                    if tag.status === 'green'
                                        span.badge.badge-success.mr-auto.my-1 #{tag.text}
                                    else if tag.status === 'yellow'
                                        span.badge.badge-warning.mr-auto.my-1 #{tag.text}
                                    else if tag.status ==='red'
                                        span.badge.badge-danger.mr-auto.my-1 #{tag.text}
                            if student.timeSinceTouchpoint
                                .blockquote-footer.touchpoint-date #{student.timeSinceTouchpoint} ago by #{student.userFirstName} #{student.userLastName}
                        .d-flex.flex-column.student-commits
                            .student-touchpoint-title Latest Commits
                    .card-footer.d-flex.flex-row.student-card-footer.p-0
                        .d-flex.justify-content-center.py-2(style="border-right:1px solid rgba(0,0,0,.125);")
                            a(href='/students/'+student.github) Details
                        .d-flex.justify-content-center.py-2.add-touchpoint-button
                            a(href) Add Touchpoint
                    
    //- //- Info Vomit
    //- h2 Info
    //- ul
    //- each key in Object.keys(info)
    //-     li #{key} - #{info[key]}
    
    //- h2 Instructors
    //- table
    //-     each instructor in instructors
    //-         tr
    //-             td
    //-                 ul
    //-                 each key in Object.keys(instructor)
    //-                     li #{key} - #{instructor[key]}
    //- h2 Students
    //- table
    //-     if students
    //-         each student in students
    //-             tr
    //-                 td
    //-                     ul
    //-                     each key in Object.keys(student)
    //-                         li #{key} - #{student[key]}
    include modals/addInstructorModal.pug 
    include modals/addStudentModal.pug
    include modals/deleteCohortModal.pug
    script(src="/public/scripts/cohort.js")
    