extends root

block content
    .container
        .list-group
            .list-group-item.active.disabled
                .row
                    .col-sm-7 
                        h5 Cohort
                    .col-sm-3 
                        h5 Start Date
                    .col-sm-1
                        h5 Active
                    .col-sm-1
                        h5 Students
            each cohort in cohorts
                a.list-group-item.list-group-item-action(href="/cohorts/"+cohort.slug)
                    .row
                        .col-sm-7 #{cohort.name}
                        .col-sm-3 #{cohort.startDate}
                        .col-sm-1 #{!cohort.graduated ? "✔" : "❌"}
                        .col-sm-1 #{cohort.numStudents}
    .container.my-3.d-flex.flex-row-reverse
        button.btn.btn-primary.px-3#addCohortModalButton(type='button') Add Cohort

    //- //- Info Vomit
    //- ul
    //-     each key in Object.keys(cohorts[0])
    //-         li #{key}

    include modals/addCohortModal.pug
    script(src="./public/scripts/cohorts.js")
        