extends root

block content
    .container
        .list-group
            .list-group-item.active.disabled
                .row
                    .col-sm-7
                        h5 Instructor
                    .col-sm-3
                        h5 Github
                    .col-sm-2
                        h5 Cohorts
            each instructor in instructors
                .list-group-item.list-group-item-action(onclick=`navigateTo("/instructors/${instructor.github}")`)
                    .row
                        .col-sm-7.d-flex.flex-row.align-items-center
                            img.mr-2(alt="/public/images/noPhoto.png" src=`${instructor.photoUrl ? instructor.photoUrl : '/public/images/noPhoto.png'}` style="height:50px") 
                            h6 #{instructor.firstName} #{instructor.lastName}
                        .col-sm-3.my-auto
                            a.d-flex.flex-row.align-items-center(href="https://github.com/"+instructor.github)
                                img(src="./public/images/GitHub-Mark.png" style="height:30px")
                                div #{instructor.github}
                        .col-sm-2
                            h6 #{instructor.numCohorts}
    .container.my-3.d-flex.flex-row-reverse
        button.btn.btn-primary.px-3#addInstructorButton(type='button') Add Instructor