extends root

block content
    .container
        .list-group
            .list-group-item.active.disabled
                .row
                    .col-sm-5
                        h5 Student
                    .col-sm-3
                        h5 Github
                    .col-sm-3
                        h5 Cohort
                    .col-sm-1
                        h5 Status
            each student in students
                .list-group-item.list-group-item-action(onclick=`navigateTo("/students/${student.github}")`)
                    .row
                        .col-sm-5.d-flex.flex-row.align-items-center
                            img.mr-2(alt="/public/images/noPhoto.png" src=`${student.photoUrl ? student.photoUrl : '/public/images/noPhoto.png'}` style="height:50px") 
                            h6 #{student.firstName} #{student.lastName}
                        .col-sm-3.my-auto
                            a.d-flex.flex-row.align-items-center(href="https://github.com/"+student.github)
                                img(src="./public/images/GitHub-Mark.png" style="height:30px")
                                div #{student.github}
                        .col-sm-3.my-auto #{student.name}
                        .col-sm-1.my-auto
                            if student.stoplightStatus === 'green'
                                span.badge.badge-success
                                    i.material-icons.pt-1 done
                            else if student.stoplightStatus === 'yellow'
                                span.badge.badge-warning
                                    i.material-icons.pt-1 help_outline
                            else if student.stoplightStatus ==='red'
                                span.badge.badge-danger
                                    i.material-icons.pt-1 warning
    .container.my-3.d-flex.flex-row-reverse
        button.btn.btn-primary.px-3#addStudentButton(type='button') Add Student
                
    //- Info Vomit
    //- ul
    //-     each key in Object.keys(students[0])
    //-         li #{key}
    include modals/addStudentModal.pug
    script(src="./public/scripts/students.js")
        
