extends root

block content
    .list-group
        .list-group-item.active.disabled
            .row
                .col-sm-1
                .col-sm-6
                    h5 Student
                .col-sm-3
                    h5 Cohort
                .col-sm-2
                    h5 Status
        each student in students
            .list-group-item.list-group-item-action(onclick=`navigateTo("/students/${student.github}")`)
                .row
                    .col-sm-1
                        a(href=student.github)
                            img(src="./public/images/GitHub-Mark.png" style="height:30px")
                    .col-sm-6 #{student.firstName} #{student.lastName}
                    .col-sm-3 #{student.name}
                    .col-sm-2 #{student.status}
    .container.my-3.d-flex.flex-row-reverse
        //- button.btn.btn-primary.px-3(type='button' data-toggle="modal" data-target="#addStudentModal") Add Student
        button.btn.btn-primary.px-3(type='button' onclick="getCohortsFromDb()") Add Student
                

    ul
        each key in Object.keys(students[0])
            li #{key}

    script(src="./public/scripts/students.js")
        
